{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <!-- タイトルセクション -->
    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="fw-bold">
                観光客により想像される自然景観の色彩情報と時空間情報による<br>
                観光地推薦方式
            </h1>
        </div>
    </div>

    <!-- ナビゲーションリンクセクション -->
    <div class="row">
        <div class="col text-center">
            <a href="/image" class="btn btn-primary btn-lg" role="button">観光地推薦</a>
        </div>
    </div>
</div>

{% endblock %}